body{
    width: auto;
    font-family: 'Merriweather Sans', sans-serif;
    color: #2383C6;
    margin: 0;
}
.image_container{
    position: relative;
    width: auto;
}
.reference{
    width: 100%;
}
.nav 
{   position: absolute;
    width:100%;
    margin: 0px;
    height: 125px;
    background-color: white;
    opacity: 0.8;
    text-align: right;
    background-image: url
}
ul.nav li {
    float:right;
    font-style: italic;
    display: inline-block;
    list-style-type: none;
    right: 50px;
    color: #2383C6;
    bottom: -50px;
    font-size: 15px;
    }
#logo{
    float:left;
    left: 50px;
    top: 20px;
}
#logoimg{
    height: 80px;
}
#predstavitev {
    position: relative;
    width: auto;
    height: 700px;
    bottom: 0px;
    text-align:justify;
    margin-left: 25%;
}
#naslov {
    color: #DE6D45;
}.text{
    position: absolute;
    margin-top: 150px;
    width: 700px;
    height: 200px;
    font-size: 20px;
    font-style: italic;
}
#kdosmo{
    position: absolute;
    top: 350px;
    left: 80px;
    width: 600px;
    height: 270px;
    font-size: 20px;
    font-style: italic;
    font-size: 13px;
    
}
#opis {
    position: absolute;
    left: 80px;
    color: #2383C6;
}
#program{
    height: 520px;
    width: auto;
}
.delavnice2 {
    display: inline-block;
    left: 100px;
    height: 320px;
    width: 285px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
    border-bottom: 1px #DE6D45  dotted;
}
.delavnice {
    display: inline-block;
    left: 100px;
    height: 320px;
    width: 285px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
    border-bottom: 1px #2383C6 dotted;
}
.deltxt{
    font-family: 'Merriweather Sans', bold;
    font-size: 25px;
    font-style: bold;
    color: #2383C6; 
}
.deltxt2{
    width: 250px;
    font-size: 11px;
    left: 80px;
    color: #404041;
    margin: 43px;
}
.deltxt3{
    margin-left: 43px;
    margin-bottom: 5px;
    font-size: 11px;
    color: #2383C6;
    
}
.deltxt4{
    font-family: 'Merriweather Sans', bold;
    font-size: 25px;
    font-style: bold;
    color: #DE6D45; 
}
.deltxt5{
    margin-left: 43px;
    margin-bottom: 5px;
    font-size: 11px;
    color: #DE6D45; 
    
}